### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore arquivos e diretórios compilados
/out/
*.class

# Ignore arquivos de configuração da IDE
.idea/
*.iml

# Ignore outros arquivos e diretórios específicos do sistema operacional
.DS_Store
Thumbs.db
